<template>
  <div>
    <v-container fluid class="pa-0 ma-0">
      <v-row class="pa-0 ma-0">
        <v-col cols="1" class="text-center pt-1 pl-0 pr-0 ma-0">
          <SideBar/>
        </v-col>

        <v-col cols="11" class="pa-0 ma-0">
          <SciTable v-if="mode === 'scientists'"/>
          <MusTable v-else/>
        </v-col>
      </v-row>
    </v-container>

    <!-- Scientists table help overlay -->
      <v-overlay
      v-if="mode === 'scientists'"
      :opacity="0.9"
      v-model="helpOverlay"
      z-index="1000"
      >
        <SciHelpTable @okClick="helpOverlay = false"/>
      </v-overlay>
    <!-- Museums table help overlay -->
      <v-overlay
      v-else
      :opacity="0.9"
      v-model="helpOverlay"
      z-index="1000"
      >
        <MusHelpTable @okClick="helpOverlay = false"/>
      </v-overlay>
  </div>
</template>

<script>
import SciTable from "../components/Scientists/Table";
import MusTable from "../components/Museums/Table";
import SideBar from "../components/SideBar";
import SciHelpTable from "../components/Scientists/HelpTable";
import MusHelpTable from "../components/Museums/HelpTable";
import { mapGetters } from "vuex";

export default {
  name: 'TableView',

  components: {
    SciTable,
    MusTable,
    SideBar,
    SciHelpTable,
    MusHelpTable
  },

  data() {
    return {
      helpOverlay: false
    }
  },

  mounted() {
    this.$store.commit("sidebar/setButtons", 
    [
      { icon: "mdi-help", click: this.showHelp, color: "white" },
      { icon: "mdi-map", to: "/", color: "amber" }
    ]);
  },

  methods: {
    showHelp() {
      this.helpOverlay = true;
    }
  },

  computed: {
    ...mapGetters({
      mode: "options/getModeName"
    })
  }
}
</script>

<style>
</style>
