<template>
  <v-container fluid class="helpOverlay text-center">
    <v-row>
      <v-col>
        <h1>Museums focused map view</h1>
      </v-col>
    </v-row>

    <v-row>
      <v-col>

      </v-col>
      <v-col cols="7">
        <div class="text-left mb-3">
          One focused museum and all scientists are shown here.
        </div>

        <div class="text-left mb-3">
          <span style="color: orange">Click</span> on a scientist marker to connect this museum to it.
        </div>

        <div class="text-left mb-3">
          <span style="color: orange">Click</span> on the scientist marker this museum
          is currently connected to to remove the connection.
        </div>

        <div class="text-left mb-3">
          Use the yellow <v-icon style="background-color: orange;">mdi-bank</v-icon> button
          in the upper left corner to return to museums map view.
        </div>
      </v-col>
      <v-col>

      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-btn color="primary" @click="$emit('okClick')">OK</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: 'MusHelpMapOne',

  computed: {
    ...mapGetters({
      modeIcon: "options/getModeIcon"
    })
  }
}
</script>
