<template>
  <v-card style="height: 100vh;">
    <v-card-title style="height: 17%;">
      <v-text-field v-model="search" label="Search Scientists"/>
      <v-spacer/>
      <v-btn color="success" @click="openAdd()">
        <v-icon>mdi-plus</v-icon>
      </v-btn>

      <!-- Add scientist dialog -->
      <v-dialog v-model="addDialog" fullscreen transition="scale-transition" origin="top right">
        <SciForm ref="addForm" type="add" v-model="scientist" @cancel="addDialog = false" @add="addScientist()"/>
      </v-dialog>

      <!-- Edit scientist dialog -->
      <v-dialog v-model="editDialog" fullscreen transition="dialog-bottom-transition">
        <SciForm ref="editForm" type="edit" v-model="scientist" @cancel="editDialog = false" @save="editScientist()" @delete="deleteScientist()"/>
      </v-dialog>
    </v-card-title>

    <v-card-text style="height: 83%;">
      <v-data-table
        :headers="headers"
        :items="sciArray"
        :search="search"
        hide-default-footer
        disable-pagination
        fixed-header
        height="82vh"
        @click:row="openEdit"
        >
          <template #item.lived="{ item }">{{item.yearOfBirth}}-{{item.yearOfDeath}}</template>
          <template #item.fullName="{ item }">{{item.firstName}} {{item.lastName}}</template>
          <template #item.nobelPrize="{ item }">
            <v-icon v-if="item.nobelPrize">mdi-medal</v-icon>
          </template>
      </v-data-table>
    </v-card-text>

  </v-card>
</template>

<script>
import SciForm from "../Scientists/Form";
import { mapActions, mapGetters } from "vuex";
export default {
  name: 'SciTable',

  components: {
    SciForm
  },

  data: () => ({
    addDialog: false,
    editDialog: false,
    scientist: {
        label: "",
        firstName: "",
        lastName: "",
        yearOfBirth: null,
        yearOfDeath: null,
        placeOfBirth: "",
        POBLat: 47,
        POBLng: -1,
        nationality: "",
        science: "",
        nobelPrize: ""
    },
    search: "",
    headers: [
      { text: "Label", value: "label" },
      { text: "Name", value: "fullName" },
      { text: "First name", value: "firstName", align: " d-none" },
      { text: "Last name", value: "lastName", align: " d-none" },
      { text: "Place of birth", value: "placeOfBirth", align: " d-none" },
      { text: "Year of birth", value: "yearOfBirth", align: " d-none" },
      { text: "Year of death", value: "yearOfDeath", align: " d-none" },
      { text: "Science", value: "science" },
      { text: "Nobel", value: "nobelPrize" }
    ]
  }),

  methods: {
    ...mapActions({
      pullScientists: "scientists/pullScientists",
      addAction: "scientists/addScientist",
      deleteAction: "scientists/deleteScientist",
      updateAction: "scientists/updateScientist"
    }),

    addScientist() {
      this.addDialog = false;
      this.addAction(this.scientist);
    },

    deleteScientist() {
      this.editDialog = false;
      this.deleteAction(this.scientist.id);
    },

    editScientist() {
      this.editDialog = false;
      this.updateAction(this.scientist);
    },

    openEdit(sci) {
      this.scientist = Object.assign({}, sci);
      this.editDialog = true;
    },

    openAdd() {
      this.scientist = {
          label: "",
          firstName: "",
          lastName: "",
          yearOfBirth: null,
          yearOfDeath: null,
          placeOfBirth: "",
          nationality: "",
          science: "",
          nobelPrize: ""
      };
      this.addDialog = true;
    }

  },

  computed: {
    ...mapGetters({
      sciArray: "scientists/getScientists"
    })
  },

  mounted() {
    this.pullScientists();
  }
}
</script>
