<template>
  <v-container class="pa-0 ma-0">
    <v-btn class="upperRight" color="success" @click="openAdd">
      <v-icon>mdi-plus</v-icon>
    </v-btn>

    <!-- Add scientist dialog -->
    <v-dialog style="z-index: 1000;" v-model="addDialog" fullscreen transition="scale-transition" origin="top right">
      <SciForm ref="addForm" type="add" v-model="openScientist" @cancel="addDialog = false" @add="addScientist"/>
    </v-dialog>

    <!-- Edit scientist dialog -->
    <v-dialog style="z-index: 1000;" v-model="editDialog" fullscreen transition="dialog-bottom-transition">
      <SciForm ref="editForm" type="edit" v-model="openScientist" @cancel="editDialog = false" @save="editScientist" @delete="deleteScientist"/>
    </v-dialog>

    <!-- Map for all scientists -->
    <l-map v-if="viewMode === 'all'"
      style="height: 100%; width: 100%; z-index: 50;"
      :options="{ zoomControl: false }"
      :zoom="zoom"
      :center="center"
      @update:zoom="zoomUpdated"
      @update:center="centerUpdated"
      @update:bounds="boundsUpdated"
    >
      <l-tile-layer :url="url"></l-tile-layer>
      <!-- Render map markers for all scientists -->
      <SciMapMarker v-for="(value, index) in scientists" 
        :key="index" 
        v-model="scientists[index]"
        :arrIndex="index"
        @edit="openEdit"
        @moved="updateAction"
        @focused="focusScientist"
        draggable
        autopan
        ></SciMapmarker>
    </l-map>
    <!-- ----------------------------------------- -->

    <!-- Map for focused scientist and all museums -->
    <l-map v-if="viewMode === 'one'"
      style="height: 100%; width: 100%; z-index: 50;"
      :options="{ zoomControl: false }"
      :zoom="zoom"
      :center="center"
      @update:zoom="zoomUpdated"
      @update:center="centerUpdated"
      @update:bounds="boundsUpdated"
    >
      <l-tile-layer :url="url"></l-tile-layer>
      <!-- Render map marker for focused scientist -->
      <SciMapMarker
        v-model="scientists[focusedIndex]"
        :arrIndex="focusedIndex"
        @edit="openEdit"
        @moved="updateAction"
        ></SciMapmarker>
      <!-- Render map markers for all museums -->
      <MusMapMarker v-for="(value, index) in museums" 
        :key="index" 
        v-model="museums[index]"
        :arrIndex="index"
        @click="updateLink"
        ></MusMapmarker>
      
      <l-polyline
        v-if="scientists[focusedIndex].museum"
        :lat-lngs="focusedLatlngs"
        color="green"
        ></l-polyline>
    </l-map>
    
    <!-- Scientists world map help overlay -->
      <v-overlay
      v-if="viewMode === 'all'"
      :opacity="0.9"
      v-model="helpOverlay"
      z-index="1000"
      >
        <SciHelpMap @okClick="helpOverlay = false"/>
      </v-overlay>
    <!-- Scientists, one view mode help overlay -->
      <v-overlay
      v-if="viewMode === 'one'"
      :opacity="0.9"
      v-model="helpOverlay"
      z-index="1000"
      >
        <SciHelpMapOne @okClick="helpOverlay = false"/>
      </v-overlay>
  </v-container>
</template>

<script>
import { LMap, LTileLayer, LPolyline } from 'vue2-leaflet';
import SciForm from "./Form";
import SciMapMarker from "./MapMarker";
import MusMapMarker from "../Museums/MapMarker";
import SciHelpMap from "./HelpMap";
import SciHelpMapOne from "./HelpMapOne";
import { mapActions, mapGetters, mapMutations } from  "vuex";
export default {
  name: "SciWorldMap",

  components: {
    LMap,
    LTileLayer,
    SciForm,
    SciMapMarker,
    MusMapMarker,
    LPolyline,
    SciHelpMap,
    SciHelpMapOne
  },

  data () {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoom: 3,
      center: [47.413220, -1.219482],
      marker: [47.413220, -1.219482],
      bounds: null,
      addDialog: false,
      editDialog: false,

      openScientist: {},
      focusedIndex: null,
      /*
      'all'     - All scientists
      'one'     - One scientist and all museums
       */
      viewMode: "all",
      helpOverlay: false
    };
  },

  mounted() {
    this.setSidebar( 
      [
        { icon: "mdi-help", click: this.showHelp, color: "white" },
        "modeToggle",
        { icon: "mdi-table", to: "/table", color: "light-blue" }
      ]
    );
    this.pullScientists();
    this.pullMuseums();
  },

  methods: {
    showHelp() {
      this.helpOverlay = true;
    },

    ...mapActions({
      pullScientists: "scientists/pullScientists",
      pullMuseums: "museums/pullMuseums",
      updateAction: "scientists/updateScientist",
      addAction: "scientists/addScientist",
      deleteAction: "scientists/deleteScientist",
      updateLinkAction: "museums/updateLink",
      pullOneMuseum: "museums/pullOne",
      pullOneScientist: "scientists/pullOne"
    }),

    ...mapMutations({
      setSidebar: "sidebar/setButtons"
    }),

    zoomUpdated (zoom) {
      this.zoom = zoom;
    },
    centerUpdated (center) {
      this.center = center;
    },
    boundsUpdated (bounds) {
      this.bounds = bounds;
    },

    async updateLink(clickedMuseum) {
      let newMuseum = clickedMuseum;
      let focusedScientist = this.scientists[this.focusedIndex];
      let oldMuseum = focusedScientist.museum;

      let museumId = newMuseum.id;
      let scientistId = focusedScientist.id;
      if (oldMuseum) {
        if (newMuseum.id == oldMuseum.id) {
          // Delete the link
          scientistId = null;
        }
      }

      // Update or make the link
      await this.updateLinkAction({ 
        museumId,
        scientistId
      });

      // Refresh all
      if (oldMuseum) {
        await this.pullOneMuseum(oldMuseum.id);
      }
      await this.pullOneMuseum(newMuseum.id);
      await this.pullOneScientist(focusedScientist.id);
      if (clickedMuseum.showcasedScientistId) {
        await this.pullOneScientist(clickedMuseum.showcasedScientist.id);
      }
    },

    addScientist() {
      this.addDialog = false;
      this.addAction(this.openScientist);
    },

    deleteScientist() {
      this.editDialog = false;
      this.deleteAction(this.openScientist.id);
    },

    editScientist() {
      this.editDialog = false;
      this.updateAction(this.openScientist);
    },

    openEdit(sciIndex) {
      this.openScientist = Object.assign({}, this.scientists[sciIndex]);
      this.editDialog = true;
    },

    openAdd() {
      this.openScientist = {
          label: "",
          firstName: "",
          lastName: "",
          yearOfBirth: null,
          yearOfDeath: null,
          placeOfBirth: "",
          POBLat: 47,
          POBLng: -1,
          nationality: "",
          science: "",
          nobelPrize: ""
      };
      this.addDialog = true;
    },

    focusScientist(arrIndex) {
      this.showOne(arrIndex);
      this.setSidebar([
        { icon: "mdi-help", click: this.showHelp, color: "white" },
        { icon: "mdi-account", color: "red lighten-1", click: this.showAll }
      ]);
    },

    showAll() {
      this.viewMode = "all";
      this.setSidebar([
        { icon: "mdi-help", click: this.showHelp, color: "white" },
        "modeToggle",
        { icon: "mdi-table", to: "/table", color: "light-blue" }
      ]);
    },

    showOne(index) {
      this.viewMode = "one";
      this.focusedIndex = index;
    },

    showFocused() {
      this.viewMode = "one";
    }
  },

  computed: {
    ...mapGetters({
      scientists: "scientists/getScientists",
      museums: "museums/getMuseums",
      modeIcon: "options/modeIcon"
    }),

    focusedLatlngs() {
      if (this.scientists[this.focusedIndex].museum) {
        return [
          [this.scientists[this.focusedIndex].POBLat, this.scientists[this.focusedIndex].POBLng],
          [this.scientists[this.focusedIndex].museum.lat, this.scientists[this.focusedIndex].museum.lng]
        ]
      } else {
        return []
      }
    }
  }
}
</script>

<style>
.upperRight {
  z-index: 100; 
  position: absolute; 
  top: 4px; 
  right: 4px;
}
</style>